header {
    text-align: center;
    color: white;
    padding: 0.5rem;
    background: linear-gradient(
            to bottom right,
            var(--color-secondary),
            var(--color-primary)
    );
}