/* App container */
.app {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary)
    );

    display: flex;
    flex-direction: column;
    align-items: center;
}
