@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 40rem;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(#341a89, #3a1967);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

h1 {
    letter-spacing: 0.15rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

code {
    font-size: 1rem;
    background-color: #2f0c51;
    padding: 0.1rem 0.25rem;
    border-radius: 4px;
}

menu {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
}