@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    min-width: 100vh;
    min-height: 100vh;
    background: white;

}

/*h1 {*/
/*    letter-spacing: 0.15rem;*/
/*    font-family: 'Lato', sans-serif;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 2.5rem;*/
/*}*/

/*code {*/
/*    font-size: 1rem;*/
/*    background-color: #2f0c51;*/
/*    padding: 0.1rem 0.25rem;*/
/*    border-radius: 4px;*/
/*}*/

/*menu {*/
/*    margin: 1rem 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    gap: 0.5rem;*/
/*    list-style: none;*/
/*}*/