/* App container */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 80rem;
    min-height: 80vh;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary)
    );
}
