#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(
            to bottom right,
            var(--color-secondary),
            var(--color-primary)
    );
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    min-width: 90vw;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary)
    );
}

#main-nav ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}


