/* App container */
#app {
    min-height: 100vh;
    background: linear-gradient(
            to bottom right,
            var(--color-secondary),
            var(--color-primary)
    );
}

main {
    max-width: 80rem;
    min-height: 80vh;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary)
    );
}

#main-nav ul {
    width: 100%;
    display: flex;
    align-content: space-between;
}