#tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: auto;
    padding: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    min-height: 70vh;
    width: 90%;
}

#tab-content div h2 {
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 25px 0 30px 0;
    padding: 1.5rem;
    background: linear-gradient(
            to bottom right,
            var(--color-secondary),
            var(--color-primary)
    );
}

#tab-content div h3 {
    text-align: left;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    width: 120vh;
    min-height: 30rem;
    padding: 1rem;
    background: linear-gradient(
            to bottom right,
            var(--color-secondary),
            var(--color-primary)
    );
}