.card {
    border: 1px solid rgba(170, 170, 170, 0.79);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card .card-text {
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 30%);
}

